<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCB AI Hackathon Submission</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <style>
        body {
          max-width: 550px; 
          margin: 20px auto; 
          padding: 0 10px; 
          font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
          color: #444 
        } 


        h1, h2, h3 {
          line-height: 1.2
        }

        #submit-response-button, #comparison-result {
            display: none;
        }

				#start-game-button, #submit-response-button, #multiplayer-button {
						margin-top: 20px; /* Adjust this value as needed */
				}

        .center {
            text-align: center;
        }

        #ethical-question {
              margin-bottom: 20px;
        }

        table {
          width: 100%;
          border-collapse: collapse;
        }

        #machine-response-container {
            display: none;
        }

        #machine-response-container.visible {
            display: table-cell;
        }

        #text-container-container {
            display: none;
        }

        #text-container-container.visible {
            display: table-cell;
        }

        #text-container, #machine-response {
          width: 100%;
          box-sizing: border-box;
        }

        #text-container-label {
            display: none;
        }

        #text-container-label.visible {
            display: table-cell;
        }

        #machine-response-label {
            display: none;
        }

        #machine-response-label.visible {
            display: table-cell;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .hamburger {
            cursor: pointer;
            font-size: 1.5rem;
        }
.settings-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.settings-overlay.active {
    display: flex;
}

.settings {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    max-width: 400px;
    width: 90%;
}

.setting-item {
    margin-bottom: 15px;
}

.setting-item label {
    display: block;
    margin-bottom: 5px;
}

#model-select {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#closesettings {
    margin-top: 15px;
    padding: 5px 10px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#closesettings:hover {
    background-color: #e1e1e1;
}
    </style>
</head>
<body>
    <header>
        <h3>GPTEthics: AI-Powered Evaluation of Challenging Ethical Scenarios</h3>
        <div class="hamburger" onclick="toggleSettings()">☰</div>
    </header>
    <hr />

    <div class="settings-overlay" id="settingsOverlay">
        <div class="settings" id="settingsPage">
            <h2>Settings</h2>
            <div class="setting-item">
                <label for="model-select">Select Model:</label>
                <select id="model-select">
                    <option value="gpt-4-turbo" selected>GPT-4</option>
                    <option value="gpt-3.5-turbo">GPT-3.5-Turbo</option>
                    <option value="arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-v2">Claude-v2</option>
                    <option value="arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-instant-v1">Claude-Instant-v1</option>
                    <option value="arn:aws:bedrock:us-east-1::foundation-model/amazon.titan-text-lite-v1">Amazon Titan Text-Lite-v1</option>
                    <option value="llama3-8b-8192">Llama3-8b</option>
                    <option value="mixtral-8x7b-32768'">Mixtral-8x7b</option>
                    <option value="gemma-7b-it">Gemma-7b-it</option>
                </select>
            </div>
            <button id="closeSettings">Close</button>
        </div>
    </div>

    <div id="ethical-question-div" style="display:none; margin-bottom:15px">
      <span><b>What would you do in the following scenario:</b></span>
      <span id="ethical-question"></span>
    </div>

		<div>
      <table style="text-align:center;">
        <tr>
          <th>
            <label id='text-container-label' for="text-container" >Your response:</label>
          </th>
          <th>
            <label id='machine-response-label' for="machine-response" >Opponent response:</label>
          </th>
        </tr>
        <tr>
          <td id='text-container-container'>
            <textarea id='text-container' rows="12" name='text-container'></textarea>
          </td>
          <td id='machine-response-container'>
            <textarea id='machine-response' rows="12" name='machine-response'></textarea>
          </td>
        </tr>
      </table>
		</div>

    <div class="center">
      <br />
      <div id="comparison-result"></div>
      <br />
      <button id="submit-response-button">Compare Results with AI</button>
      <button id="start-game-button">New Game (vs. AI)</button>
      <button id="multiplayer-button">New Game (vs. human)</button>
      <div id="multiplayer-input" style="display: none;">
        <input type="text" id="game-code-input" placeholder="Enter game code">
         <button id="join-game-button">Join Game</button>
      </div>
    </div>

		<script>
				//const socket = io.connect(':8080');
				const socket = io();
				let gameId = null;
        let playerId = null;
        let waitingForOtherPlayer = false;

				const startGameButton = document.getElementById('start-game-button');
				const textContainerContainer = document.getElementById('text-container-container');
				const textContainer = document.getElementById('text-container');
				const submitResponseButton = document.getElementById('submit-response-button');
				const machineResponseContainer = document.getElementById('machine-response-container');
        const machineResponse = document.getElementById('machine-response');
        const textContainerLabel = document.getElementById('text-container-label');
        const machineResponseLabel = document.getElementById('machine-response-label');
				const comparisonResult = document.getElementById('comparison-result');

				const ethicalQuestion = document.getElementById('ethical-question');
				const ethicalQuestionDiv = document.getElementById('ethical-question-div');

        let bothRespondedDotsInterval;

				function streamText(container, text, delay = 20) {
							container.value = ''; // Clear any existing text
							let index = 0;

							return new Promise((resolve) => {
									function addChar() {
											if (index < text.length) {
													container.value += text.charAt(index);
													index++;
													setTimeout(addChar, delay);
											} else {
													resolve(); // Resolve the promise when streaming is complete
											}
									}
									
									addChar();
							});
				}

        function clearGame() {
						// Make sure there's nothig from the previous game
						//machineResponseContainer.style.display = 'none';
            machineResponseContainer.classList.remove('visible');
						//textContainerContainer.style.display = 'none';
            textContainerContainer.classList.remove('visible');

						textContainer.value = '';
						machineResponse.value = '';

						comparisonResult.innerText = '';
						comparisonResult.style.display = 'none';
            // Reset color
						comparisonResult.style.color = '#444';
            // Reset the ethical question
            ethicalQuestion.innerHTML = '';
            // Reset the labels
            textContainerLabel.classList.remove('visible');
            machineResponseLabel.classList.remove('visible');
        }
					
				function startGame() {
            startGameButton.style.display = 'none';
            clearGame();

						// Also hide the new multiplayer game option
						document.getElementById('multiplayer-button').style.display = 'none';

						fetch('/generate', {
								method: 'POST',
						})
						.then(response => response.json())
						.then(data => {
                console.log("Data from server");
                console.log(data);

                ethicalQuestionDiv.style.display = 'block';
								ethicalQuestion.innerHTML = data.question;
								//textContainerContainer.style.display = 'table';
                textContainerContainer.classList.add('visible');
								submitResponseButton.style.display = 'inline';
						})
						.catch(error => console.error('Error:', error));
				}

				function compareBothResponses() {
              let ellipses = 0;
              comparisonResult.innerText = 'Comparing responses' + '.'.repeat(ellipses);

              // Mark this to be halted later once the comparison is done
              bothRespondedDotsInterval = setInterval(() => {
                  comparisonResult.innerText = 'Comparing responses' + '.'.repeat(ellipses);
                  ellipses = (ellipses + 1) % 4;
              }, 500);
							comparisonResult.style.display = 'inline';
              // Make both labels 
              machineResponseContainer.classList.add('visible');
							
							fetch('/compare_responses', {
									method: 'POST',
									headers: {
											'Content-Type': 'application/json'
									},
									body: JSON.stringify({
											human_response: textContainer.value,
											machine_response: machineResponse.value,
											ethical_question: ethicalQuestion.innerHTML,
									})
							})
							.then(response => response.json())
							.then(data => {
                  if (bothRespondedDotsInterval) {
                      clearInterval(bothRespondedDotsInterval);
                  } else {
                      console.log("Not clearing interval")
                  }
									// Hide the "submit" button
									if (data.winner === 'human') {
											// Put the text in green
											comparisonResult.style.color = 'green';
											// Get the text from the server
											comparisonResult.innerText = 'You win!';
									} else {
											// Put the text in red
											comparisonResult.style.color = 'red';
											// Get the text from the server
											comparisonResult.innerText = 'You lose!';
									}
									// Make the newGameButton visible
									startGameButton.style.display = 'inline';
                  // Make the multiplayer button visible
                  document.getElementById('multiplayer-button').style.display = 'inline';

									console.log(data);
							})
							.catch(error => console.error('Error:', error));
					}

					function getMachineResponseAndCompare() {
        
              function getCurrentModel() {
                    const modelSelect = document.getElementById('model-select');
                    const selectedOption = modelSelect.options[modelSelect.selectedIndex];
                    return selectedOption ? selectedOption.value: null;
              }

              const currentModel = getCurrentModel();
              console.log('Current model:', currentModel);

							data_for_request = {
									ethical_question: ethicalQuestion.innerHTML,
                  model: currentModel
							}
							console.log("Data for request");
							console.log(data_for_request);
							fetch('/get_machine_response', {
									method: 'POST',
									headers: {
											'Content-Type': 'application/json'
									},
									body: JSON.stringify(data_for_request)
							})
							.then(response => response.json())
							.then(data => {
									submitResponseButton.style.display = 'none';
									//machineResponseContainer.style.display = 'table';
                  textContainerLabel.classList.add('visible');
                  machineResponseLabel.classList.add('visible');
                  machineResponseContainer.classList.add('visible');
									// Don't run any code until the text has finished streaming
									streamText(machineResponse, data.text).then(() => {
										// Do nothing
										setTimeout(() => {
											compareBothResponses();
										}, 10);
									});
							})
							.catch(error => console.error('Error:', error));
				}

				startGameButton.addEventListener('click', () => {
						startGame()
				});

				document.getElementById('multiplayer-button').addEventListener('click', () => {
            clearGame();
						document.getElementById('multiplayer-input').style.display = 'block';
						document.getElementById('multiplayer-button').style.display = 'none';
            startGameButton.style.display = 'none';
				});

				document.getElementById('join-game-button').addEventListener('click', () => {
						const gameCode = document.getElementById('game-code-input').value;
						socket.emit('join_game', { game_code: gameCode });
				});

				socket.on('game_joined', (data) => {
						playerId = data.player_id;
						gameId = document.getElementById('game-code-input').value;
						document.getElementById('multiplayer-input').style.display = 'none';
						document.getElementById('start-game-button').style.display = 'none';
						document.getElementById('multiplayer-button').style.display = 'none';
						
						waitingForOtherPlayer = true;
						comparisonResult.innerText = 'Waiting for other player to join...';
						comparisonResult.style.display = 'inline';
				});

				socket.on('game_ready', (data) => {
						if (waitingForOtherPlayer) {
								waitingForOtherPlayer = false;
								ethicalQuestion.innerHTML = data.question;
                // show the ethical dillema
                ethicalQuestionDiv.style.display = 'block';
                textContainerContainer.classList.add('visible');

								submitResponseButton.style.display = 'inline';
								submitResponseButton.innerText = 'Submit Response';
								comparisonResult.style.display = 'none';
						}
				});

				socket.on('game_full', () => {
						alert('This game is already full. Please try a different game code.');
				});

				socket.on('game_full', () => {
						alert('This game is already full. Please try a different game code.');
				});

				socket.on('both_responded', (data) => {
            console.log("Just heard that both players have responded");
            console.log("And they responded on the right room");
            responses = data.responses;
            // Get the keys of resopnses
            responses = Object.keys(responses);
            // Get the key which does not match the playerId
            otherPlayerId = responses.filter((response) => response !== playerId)[0];
            // Get the response of the other player
            otherPlayerResponse = data.responses[otherPlayerId];
            // Show the response of the other player
            console.log("The other player said:");
            console.log(otherPlayerResponse);

            // Show the response of the other player
            machineResponseContainer.classList.add('visible');

            // Display labels for the textareas
            textContainerLabel.classList.add('visible');
            machineResponseLabel.classList.add('visible');
            
            // Don't run any code until the text has finished streaming
            streamText(machineResponse, otherPlayerResponse).then(() => {
              // Do nothing
              // Set 10-second timeout before continuing
              setTimeout(() => {
                return 
              }, 10);
            });

            // Make the number of ellipses change
            let ellipses = 3;
            comparisonResult.innerText = 'Comparing responses' + '.'.repeat(ellipses);
            // Mark this to be halted later once the comparison is done
            bothRespondedDotsInterval = setInterval(() => {
                comparisonResult.innerText = 'Comparing responses' + '.'.repeat(ellipses);
                ellipses = (ellipses + 1) % 4;
            }, 500);
            
				});

				socket.on('game_result', (data) => {
            // Make the ellipses setInterval() stop
            // If bothRespondedDotsInterval is not defined, this will do nothing
            if (bothRespondedDotsInterval) {
                clearInterval(bothRespondedDotsInterval);
            } else {
                console.log("Not clearing interval")
            }
            
						if (data.winner === playerId) {
								comparisonResult.style.color = 'green';
								comparisonResult.innerText = 'You win!';
						} else {
								comparisonResult.style.color = 'red';
								comparisonResult.innerText = 'You lose!';
						}
            document.getElementById('multiplayer-button').style.display = 'inline';
						startGameButton.style.display = 'inline';
				});

				// Modify the submitResponseButton event listener
				submitResponseButton.addEventListener('click', () => {
						if (gameId) {
								// Multiplayer mode
								socket.emit('submit_response', {
										game_code: gameId,
										player_id: playerId,
										response: textContainer.value
								});
								submitResponseButton.style.display = 'none';
								comparisonResult.innerText = 'Waiting for other player...';
								comparisonResult.style.display = 'inline';

						} else {
								// Single player mode (keep your existing code here)
								getMachineResponseAndCompare();
						}
				});

		</script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
    const hamburger = document.querySelector('.hamburger');
    const settingsOverlay = document.getElementById('settingsOverlay');
    const closeSettings = document.getElementById('closeSettings');
    const modelSelect = document.getElementById('model-select');
    
    function toggleSettings() {
        settingsOverlay.classList.toggle('active');
    }

    hamburger.addEventListener('click', toggleSettings);
    closeSettings.addEventListener('click', toggleSettings);

    modelSelect.addEventListener('change', function() {
        const selectedModel = this.value;
        console.log('Selected model:', selectedModel);
        // Here you can add logic to handle the model change
    });

    // Close settings if clicking outside the settings box
    settingsOverlay.addEventListener('click', function(event) {
        if (event.target === settingsOverlay) {
            toggleSettings();
        }
    });
});
    </script>

</body>
</html>

