<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCB AI Hackathon Submission</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <style>
        body {
          margin: 40px auto;
          max-width: 550px;
          line-height: 1.6;
          font-size: 18px;
          color: #444;
          padding: 0 10px;
        }

        h1, h2, h3 {
          line-height: 1.2
        }

        #text-container, #submit-response-button, #machine-response-container, #comparison-result {
            display: none;
        }

        .textarea-container {
            display: flex;
            gap: 10px;
            width: 100%;
            justify-content: space-between;
        }

        #text-container.centered {
            margin: 0 auto;
        }

        .textarea-container textarea {
            width: 49%;
        }

				#start-game-button, #submit-response-button, #multiplayer-button {
						margin-top: 50px; /* Adjust this value as needed */
				}

        .center {
            text-align: center;
        }

        #ethical-question {
              margin-bottom: 20px;
        }

    </style>
</head>
<body>
    <div id="ethical-question">
    </div>
    <div class="textarea-container">
        <textarea id="text-container" rows="12" cols="40" class="centered"></textarea>
        <textarea id="machine-response-container" rows="12" cols="40"></textarea>
    </div>

    <div class="center">
      <br />
      <div id="comparison-result"></div>
      <br />
      <button id="submit-response-button">Compare Results with AI</button>
      <button id="start-game-button">New Game</button>
      <button id="multiplayer-button">New Multiplayer Game</button>
    </div>

  <script>
      const socket = io();
      let gameId = null;

      const startGameButton = document.getElementById('start-game-button');
      const textContainer = document.getElementById('text-container');
      const submitResponseButton = document.getElementById('submit-response-button');
      const machineResponseContainer = document.getElementById('machine-response-container');
      const comparisonResult = document.getElementById('comparison-result');
      const ethicalQuestion = document.getElementById('ethical-question');

      function streamText(container, text, delay = 20) {
            container.value = ''; // Clear any existing text
            let index = 0;

            return new Promise((resolve) => {
                function addChar() {
                    if (index < text.length) {
                        container.value += text.charAt(index);
                        index++;
                        setTimeout(addChar, delay);
                    } else {
                        resolve(); // Resolve the promise when streaming is complete
                    }
                }
                
                addChar();
            });
        }
        
        function startGame() {
            // Make sure there's nothig from the previous game
            machineResponseContainer.style.display = 'none';
            textContainer.value = '';
            machineResponseContainer.value = '';
            comparisonResult.innerText = '';
            comparisonResult.style.display = 'none';
            // Also hide the new multiplayer game option
            document.getElementById('multiplayer-button').style.display = 'none';

            fetch('/generate', {
                method: 'POST',
            })
            .then(response => response.json())
            .then(data => {
                ethicalQuestion.innerHTML = data.question;
                textContainer.style.display = 'block';
                startGameButton.style.display = 'none';
                submitResponseButton.style.display = 'inline';
            })
            .catch(error => console.error('Error:', error));
        }

        function compareBothResponses() {
            comparisonResult.innerText = 'Comparing responses...';
            comparisonResult.style.display = 'inline';
            
            fetch('/compare_responses', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    human_response: textContainer.value,
                    machine_response: machineResponseContainer.value,
                    ethical_question: ethicalQuestion.innerHTML,
                })
            })
            .then(response => response.json())
            .then(data => {
                // Hide the "submit" button
                if (data.winner === 'human') {
                    // Put the text in green
                    comparisonResult.style.color = 'green';
                    // Get the text from the server
                    comparisonResult.innerText = 'You win!';
                } else {
                    // Put the text in red
                    comparisonResult.style.color = 'red';
                    // Get the text from the server
                    comparisonResult.innerText = 'You lose!';
                }
                // Make the newGameButton visible
                startGameButton.style.display = 'inline';
                console.log(data);
            })
            .catch(error => console.error('Error:', error));
        }

        function getMachineResponseAndCompare() {
            data_for_request = {
                ethical_question: ethicalQuestion.innerHTML,
            }
            console.log("Data for request");
            console.log(data_for_request);
            fetch('/get_machine_response', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data_for_request)
            })
            .then(response => response.json())
            .then(data => {
                submitResponseButton.style.display = 'none';
                machineResponseContainer.style.display = 'inline';
                // Don't run any code until the text has finished streaming
                streamText(machineResponseContainer, data.text).then(() => {
                  // Do nothing
                  setTimeout(() => {
                    compareBothResponses();
                  }, 10);
                  });
            })
            .catch(error => console.error('Error:', error));
        }

      startGameButton.addEventListener('click', () => {
          startGame()
      });

      const multiplayerButton = document.getElementById('multiplayer-button');

      multiplayerButton.addEventListener('click', () => {
          fetch('/create_multiplayer_game', { method: 'POST' })
              .then(response => response.json())
              .then(data => {
                  gameId = data.game_id;
                  ethicalQuestion.innerHTML = 'Waiting for another player...';
                  socket.emit('join', { game_id: gameId });
                  startGameButton.style.display = 'none';
                  multiplayerButton.style.display = 'none';
              })
              .catch(error => console.error('Error:', error));
      });

			socket.on('start_game', (data) => {
          console.log('Game started');
					ethicalQuestion.innerHTML = data.question;
					textContainer.style.display = 'block';
					submitResponseButton.style.display = 'inline';
			});

			socket.on('game_result', (data) => {
					machineResponseContainer.style.display = 'inline';
					streamText(machineResponseContainer, data.ai_response).then(() => {
							const result = data.results[socket.id];
							if (result === 'win') {
									comparisonResult.style.color = 'green';
									comparisonResult.innerText = 'You win!';
							} else {
									comparisonResult.style.color = 'red';
									comparisonResult.innerText = 'You lose!';
							}
							comparisonResult.style.display = 'inline';
							startGameButton.style.display = 'inline';
							multiplayerButton.style.display = 'inline';
					});
			});

			// Modify the submitResponseButton event listener
			submitResponseButton.addEventListener('click', () => {
					if (gameId) {
							socket.emit('submit_response', {
									game_id: gameId,
									response: textContainer.value
							});
							submitResponseButton.style.display = 'none';
							comparisonResult.innerText = 'Waiting for other player...';
							comparisonResult.style.display = 'inline';
					} else {
							// Single player mode (keep your existing code here)
              getMachineResponseAndCompare();
					}
			});

    </script>
</body>
</html>

